img{
    height:320px;
    width: 270px;
   
}
p{
    font-size: 6px;
    color: green;
    margin-top: 0%;
}
#price{
font-size: 13px;
color: black;
}

#caption{
    font-size: 20px;
    color: black;
    
}
div{
    display: inline-block;
}
#offer{
    font-size:15 px;
}
#ratings{
    font-size:15px ;
}
ol{
    font-size:15px ;
}